AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
IndentCaseLabels: true
IndentWrappedFunctionNames: false
IndentGotoLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
PointerBindsToType: false
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterControlStatement: false
    AfterEnum: false
    AfterExternBlock: false
    AfterFunction: true
    AfterStruct: false
    AfterUnion: false
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: false
